---
import '../styles.css';
import ParallaxLayout from "../layouts/ParallaxLayout.astro";
import MarketData from "../components/MarketData.astro";
import openNewWindow from '../BalkyImages/OpenNewWindow.svg';
import discordIcon from '../BalkyImages/Discord Icon.svg';
import Hero from '../components/Hero.astro';
import WhatsNew from '../components/WhatsNew.astro';
---

<html>
  <head>
    <title>Test Parallax Transitions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body class="bg-gray-900">
    <ParallaxLayout
      inset="inset-x-0"
      height="h-[450px]"
      backgroundTailwind="bg-[url('../Images/Parallax/WarthogParallaxBGwhite640.jpg')] md:bg-[url('../Images/Parallax/WarthogParallaxBGwhite768.jpg')] lg:bg-[url('../Images/Parallax/WarthogParallaxBGwhite.jpg')]"
      scrollSpeed="1">

      <Hero />
    
    </ParallaxLayout>


    <section class="relative h-[400px]  bg-gray-200">
      <WhatsNew/>
    </section>


    <ParallaxLayout 
      inset="inset-0"
      height="h-screen"
      backgroundTailwind="bg-[url('../Images/Parallax/WarthogParallaxBGcolor640.jpg')] md:bg-[url('../Images/Parallax/WarthogParallaxBGcolor768.jpg')] lg:bg-[url('../Images/Parallax/WarthogParallaxBGcolor.jpg')]"
      scrollSpeed=".01">
      
    </ParallaxLayout>


    <section class="relative md:h-[900px] sm:h-[1900px] flex flex-col items-center justify-center bg-black">
      <div class="wartSectionHeading text-white text-left w-9/12">WartHog Network Chart</div>
      <MarketData></MarketData>
    </section>
    <section class="relative md:h-[500px] sm:h-[900px] flex flex-col items-center justify-center bg-white">
      <div class="wartSectionHeading text-black">Where to buy?</div>
      <div class="flex md:flex-row sm:flex-col md:justify-center mt-12">
        <div class="flex md:flex-row flex-col">
          <div class="flex flex-col wartWhereToBuyBlock">
            <img class="block" src={discordIcon.src}/>
            <div class="flex flex-row">
              <div class="flex-grow wartWhereToBuyBlockText pr-2">Xeggex exchange</div>
              <div class="flex items-end">
                <img class="w-[32px] h-[32px] mb-2" src={openNewWindow.src}/>
              </div>
            </div>
          </div>
          <div class="flex flex-col wartWhereToBuyBlock">
            <img class="block" src={discordIcon.src}/>
            <div class="flex flex-row">
              <div class="flex-grow wartWhereToBuyBlockText pr-2">Tradeogre exchange</div>
              <div class="flex items-end">
                <img class="w-[32px] h-[32px] mb-2" src={openNewWindow.src}/>
              </div>
            </div>
          </div>
        </div>

        <div class="flex md:flex-row flex-col">
          <div class="flex flex-col wartWhereToBuyBlock">
            <img class="block" src={discordIcon.src}/>
            <div class="flex flex-row">
              <div class="flex-grow wartWhereToBuyBlockText pr-2">Discord Cakdera bot</div>
              <div class="flex items-end">
                <img class="w-[32px] h-[32px] mb-2" src={openNewWindow.src}/>
              </div>
            </div>
          </div>
          <div class="flex flex-col wartWhereToBuyBlock">
            <img class="block" src={discordIcon.src}/>
            <div class="flex flex-row">
              <div class="flex-grow wartWhereToBuyBlockText pr-2">Discord P2P Trade</div>
              <div class="flex items-end">
                <img class="w-[32px] h-[32px] mb-2" src={openNewWindow.src}/>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </section>

    <ParallaxLayout 
      inset="inset-0"
      height="h-screen"
      backgroundTailwind="bg-[url('../Images/Parallax/WarthogParallaxBGcolor640.jpg')] md:bg-[url('../Images/Parallax/WarthogParallaxBGcolor768.jpg')] lg:bg-[url('../Images/Parallax/WarthogParallaxBGcolor.jpg')]"
      scrollSpeed=".01">
      
    </ParallaxLayout>

    <section class="relative h-screen flex items-center justify-center bg-gray-800">
      <p class="text-2xl text-white">More Static Content</p>
    </section>

    <ParallaxLayout 
      inset="inset-0"
      height="h-screen"
      backgroundTailwind="bg-[url('../Images/Parallax/WarthogParallaxBGbw640.jpg')] md:bg-[url('../Images/Parallax/WarthogParallaxBGbw768.jpg')] lg:bg-[url('../Images/Parallax/WarthogParallaxBGbw.jpg')]"
      scrollSpeed=".2">
      <h1 class="text-5xl text-yellow-300">Another Parallax Section</h1>
      <p class="text-lg text-white">With text content on top</p>
    </ParallaxLayout>
    
    <section class="relative h-screen flex items-center justify-center bg-black">
        <h2 class="text-4xl text-white">Static Section</h2>
      </section>

    <ParallaxLayout 
      inset="inset-0"
      height="h-screen"
      backgroundTailwind="bg-[url('../Images/Parallax/WarthogParallaxBGbw640.jpg')] md:bg-[url('../Images/Parallax/WarthogParallaxBGbw768.jpg')] lg:bg-[url('../Images/Parallax/WarthogParallaxBGbw.jpg')]"
      scrollSpeed=".2"/>
  </body>
</html>